numpy==1.26.4
opencv-python==4.10.0.84
Pillow==11.3.0
mediapipe==0.10.14
torch==2.8.0
openvino==2024.6.0
openvino-dev==2024.6.0
pandas==2.3.2
matplotlib==3.9.0
kiwisolver==1.4.9
seaborn==0.13.2
tqdm==4.67.1
ultralytics==8.3.190
ipython==9.5.0
playsound==1.2.2
pygame